:root {
  font-size: 10px;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  background-image: url('./img/iccup-xNtwmcRP-gw-unsplash.jpg');
  background-size: cover;
}

#content {
  min-width: 100vw;
  min-height: 100vh;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;

  display: grid;
  grid-template-rows: 1fr 1rem;
}

.footer {
  text-align: center;
  font-weight: 500;
}
